<%= content_tag(:div, class: "linkmap_areas") do %>
  <% (configuration['linkmap_areas'].presence || []).each_with_index do |attributes, index| %>
    <%= linkmap_area(entry, attributes, index) do %>
      <%= background_image_div_with_size(configuration, 'visited_image', class: 'visited_image', style_group: :panorama) %>

      <% if configuration['background_type'] == 'hover_video' &&
            !Pageflow::ImageFile.find_by_id(configuration['hover_image_id']) %>

        <%= background_image_div_with_size(configuration,
                                           'panorama_video',
                                           file_type: 'video_file',
                                           class: 'hover_image') %>
      <% else %>
        <%= background_image_div_with_size(configuration,
                                           'hover_image',
                                           class: 'hover_image',
                                           style_group: :panorama) %>
      <% end %>

      <div class="linkmap_marker <%= attributes['marker'] %>">
        <div class="inline_loading_spinner">
          <div class="circle_inner"></div>
        </div>
      </div>
      <div class="linkmap_description">
        <div class="link_title"><%= attributes['link_title'] %></div>
        <div class="link_description"><%= raw(attributes['link_description']) %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
