<%= content_tag(:div, class: "linkmap_areas #{attribute_name}") do %>
  <% (configuration[attribute_name].presence || []).each do |attributes| %>
    <%= linkmap_area(attributes) do %>
      <%= background_image_div_with_size(configuration, 'hover_image', style_group: :panorama) %>
      <div class="linkmap_marker <%= attributes['marker'] %>"></div>
      <div class="linkmap_description">
        <div class="link_title"><%= attributes['link_title'] %></div>
        <div class="link_description"><%= raw(attributes['link_description']) %></div>
      </div>
    <% end %>
  <% end %>
<% end %>